<% contact = t "contact.contacttitle" %>
<% provide(:title, contact) %>
<h1> <%= t "contact.contactheader" %> </h1>
<p>
  <%= t "contact.contactpage" %>
  <%= link_to "#{t "contact.contactlink"}", "https://www.railstutorial.org/contact" %>
</p>
