<% home = t "home.hometitle" %>
<%  provide(:title, home) %>
<h1> <%= t "home.homeheader" %> </h1> 
<p>
  <%= t "home.homepage1" %>
  <%= link_to "#{t "home.homelink"}", "https://www.railstutorial.org/" %>
  <%= t "home.homepage2" %>
</p>
